/* Index file css */
.link:visited {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
}
.link {
  font-size: x-large;
  font-weight: bold;
}
.link a {
  color: black;
}

/* Common Css */
.main {
  margin-top: 70px;
  margin-left: 245px;
}

.sidebarLink:visited {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
}
